*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.logo img{
    width: 50px;
}

.menu{
    background-color: rgba(0,0,0,0.7);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: url("imagenes/DeWatermark.ai_1747182182712.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.menu .navbar ul li{
    position: relative;
    float: left;
    color: #AFAFAF;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

.menu .navbar ul li a:hover{
    color: #028585;
}

#menu{
    display: none;  
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-txt{
    text-align: center;
    margin-bottom: 45px;
}

.header-txt h1, span, h3{
    font-size: 110px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #00B3B3;
    margin-bottom: 15px;
}

.header-txt span{
    font-size: 25px;
}

.header-txt p{
    color: #ffffff;
    padding: 0 250px;
    margin: 25px o;
}

.header-dir{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.dir h3{
    font-size: 18px;
}

.dir p{
    font-size: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #02639b;
    text-align: center;
    padding: 5px 0;
    font-size: 16px;
    position: relative;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}